$color-black: #000;
$color-white: #fff;
$lightgrey: #cbcbcb;
$dark-blue: #09174a;
$gray: #a3a3a3;
$darkgrey: #7e7e7f;

$primary-color: #664de5;
$error: #FF0B0B;
$input-bg: #fcfbfd;
$input-border-color: #a9a8aa;
$input-error-bg: #fffafa;
$input-disabled-text-color: #646467;